.container {
  display: flex;
  justify-content: center;

  & img {
    height: 50vh;
  }

  .gallery {
    order: -1;
  }

  .images {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .oneImage {
    width: 200px;
    height: 200px;
  }

  .thumb {
    width: 100%;

    display: flex;
    flex-direction: column;
    cursor: pointer;

    & img {
      height: 100px;
      width: 100px;
    }
    & img:nth-child(2) {
      height: 200px;
      width: 200px;
    }
  }

  .attribute {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .att-button {
    padding: 1rem 1.5rem;

    background-color: white;
    border: 1px solid black;
    cursor: pointer;

    &:focus {
      background-color: black;
      color: white;
    }

    &:hover {
      background-color: black;
      color: white;
    }
  }

  .input-btn {
    background-color: #fff;
  }

  .addCart {
    background-color: #5ece7b;
    height: 3rem;
    width: 15rem;
    margin-top: 10%;
    color: white;
    border: none;
    cursor: pointer;
  }

  .specs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}
.att-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hasErrors {
  color: red;
  border: 1px solid red;
  padding: 10px;
}

.symbol-amount {
  display: flex;
}

.left-arrow {
  width: 25px;
  height: 25px;
}

.no-stock {
  background-color: #5b7963;
  height: 3rem;
  width: 15rem;
  margin-top: 10%;
  color: white;
  border: none;
  cursor: pointer;
}
