.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 5rem;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 40vh;
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
  }

  img {
    height: 40vh;
    width: 20vw;
  }

  .name {
    display: flex;
    justify-content: flex-start;
  }
}
