.increment {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    width: 25px;
    height: 25px;
  }

  .plus-minus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6em;

    .left-arrow {
      display: none;
    }

    .right-arrow {
      display: none;
    }

    button {
      background-color: white;
      border: 1px solid black;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.cart-page {
  display: flex;
  flex-direction: column;

  h1 {
    display: flex;
  }

  .btn-img {
    display: flex;
    justify-content: space-between;
    height: 35vh;
    margin-top: 4em;
    border-top: 1px solid rgb(199, 196, 196);
  }

  .plus-minus {
    margin-right: 1rem;
    button {
      border: 1px solid black;
      background-color: white;
      padding: 15px 15px;
    }
  }

  .name p:first-child {
    display: flex;
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 0.2em;
  }
  .name p:nth-child(2) {
    display: flex;
    font-weight: normal;
    font-size: 2em;
    margin: 0 0.2em;
  }

  .price-symbol {
    display: flex;
    align-items: center;
    margin: 0.6em;
    font-size: 0.7em;
    font-weight: 900;
  }
  span {
    font-size: 2em;
  }

  .size-att {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
    button {
      width: 4em;
      height: 4em;
    }
  }
}
