.column {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .price {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 15px;
  }
}

.check-items {
  margin: 0 auto;
  width: 30vw;
  height: 70vh;
  overflow-x: auto;

  h2 {
    font-size: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;

    img {
      height: 100px;
      width: 100px;
    }

    .item-card {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgb(221, 220, 220);

      .brand {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .price {
        font-weight: 600;
      }

      .qty {
        display: flex;
        margin: 0;
        height: 1rem;

        span {
          font-weight: 600;
          margin-left: 10px;
        }
      }

      .att {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 2rem;

        span {
          font-weight: 600;
        }
      }
      .price {
        display: flex;
        margin: 10px 0;
      }
    }
  }
}
