.check-items {
  margin: 0 auto;
  width: 30vw;
  border: 1px solid black;

  h2 {
    font-size: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;

    img {
      height: 100px;
      width: 100px;
    }

    .item-card {
      display: flex;
      flex-direction: column;

      .brand {
        display: flex;
        align-items: center;
      }

      .att {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 2rem;

        span {
          font-weight: 600;
        }
      }
      .price {
        display: flex;
      }
    }
  }
}

.test {
  margin-top: 50rem;
  height: 10px;
  width: 300px;
  background-color: red;
  width: -100vw;
  transition: transform 1s;
  transform: translateX(-100vw) !important;
  margin: 20px;
}

.test-active {
  margin-top: 50rem;
  height: 400px;
  width: 300px;
  background-color: red;
  transform: translateX(0);
  transition: transform 2s;
  margin: 20px;
}

.test1 {
  margin-top: 50rem;
  height: 10px;
  width: 300px;
  background-color: red;
  transform: translateX(-100vw);
  transition: transform 2s;
  margin: 20px;
}

.test1-active {
  margin-top: 50rem;
  height: 400px;
  width: 300px;
  background-color: red;
  transform: translateX(0);
  transition: transform 2s;
  margin: 20px;
  background-color: green;
}

.test2 {
  margin-top: 50rem;
  height: 10px;
  width: 300px;
  background-color: red;
  transform: translateX(-100vw);
  transition: transform 2s;
  margin: 20px;
}
.test2-active {
  height: 400px;
  width: 300px;
  transform: translateX(0);
  // transform: translateX(50vw);
  transition: transform 2s;
  color: yellow;
  background-color: yellow;
}
