@import "../../variables.scss";

.HP-container {
  margin-top: 3rem;
  .order {
    display: flex;

    @media only screen and (max-width: $bp-xl) {
      flex-direction: column;
    }

    .left {
      width: 50%;
      margin: 0 auto;

      @media only screen and (max-width: $bp-xl) {
        width: 75%;
      }
      @media only screen and (max-width: $bp-lg) {
        width: 100%;
      }

      p {
        width: 70%;
        margin: 0 auto;
        color: rgb(92, 91, 91);
        height: 5rem;
        font-weight: 600;
        font-size: 1.3rem;
      }

      h1 {
        font-size: 3.5rem;
        position: relative;

        @media screen and (max-width: $bp-sm) {
          font-size: 2.5rem;
        }

        span {
          color: var(--lightGreen);
        }
      }

      button {
        margin: 4rem 0 1.5rem 0;
        padding: 1.3rem 3.5rem;
        border-radius: 10px;
        border: none;
        background-color: var(--lightGreen);
        color: white;
        cursor: pointer;
        font-size: 1.3rem;

        &:hover {
          background-color: var(--darkGreen);
        }
        @media only screen and (max-width: $bp-md) {
          margin-top: 9rem;
        }
      }
    }

    .right {
      width: 50%;
      position: relative;

      @media only screen and (max-width: $bp-xl) {
        width: 75%;
      }
      @media only screen and (max-width: $bp-lg) {
        width: 100%;
      }

      img {
        z-index: 999;
        @media only screen and (max-width: $bp-sm) {
          width: 100%;
        }
      }

      .background {
        position: absolute;
        background-color: var(--lightGreen);
        opacity: 10%;
        height: 40rem;
        width: 50vw;
        right: 0;
        border-radius: 0px 0px 0px 400px;

        @media only screen and (max-width: $bp-lg) {
          left: 0;
        }
        @media only screen and (max-width: $bp-sm) {
          height: 20rem;
          width: 100%;
        }
      }
    }
  }

  .test {
    margin-top: 50rem;
    height: 10px;
    width: 300px;
    background-color: red;
    width: -100vw;
    transition: transform 1s;
    transform: translateX(-100vw) !important;
    margin: 20px;
  }

  .test-active {
    margin-top: 50rem;
    height: 400px;
    width: 300px;
    background-color: red;
    transform: translateX(0);
    transition: transform 2s;
    margin: 20px;
  }

  .test1 {
    margin-top: 50rem;
    height: 10px;
    width: 300px;
    background-color: red;
    transform: translateX(-100vw);
    transition: transform 2s;
    margin: 20px;
  }

  .test1-active {
    margin-top: 50rem;
    height: 400px;
    width: 300px;
    background-color: red;
    transform: translateX(0);
    transition: transform 2s;
    margin: 20px;
    background-color: green;
  }

  .test2 {
    margin-top: 50rem;
    height: 10px;
    width: 300px;
    background-color: red;
    transform: translateX(-100vw);
    transition: transform 2s;
    margin: 20px;
  }
  .test2-active {
    height: 400px;
    width: 300px;
    transform: translateX(0);
    // transform: translateX(50vw);
    transition: transform 2s;
    color: yellow;
    background-color: yellow;
  }

  .numbers {
    color: var(--lightGreen);
  }

  .reveal-left {
    transform: translateX(-50vw);
  }

  .reveal-right {
    transform: translateX(50vw);

    //apear from scratch
    // opacity: 0;
  }

  .fade-in {
    transform: translateY(0);
    opacity: 1;
    // transform: translateX(50vw);
    transition: transform 2s;

    //appear form scratch
    /*    opacity: 1;
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-in-out; */
  }
}
