.cart-items {
  .price-symbol {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-weight: 500;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
      display: flex;

      margin: 0;
      font-size: 0.9em;
    }
  }

  .increment {
    display: flex;
    margin-left: 1em;

    button {
      width: 25px;
    }

    span {
      width: 25px;
    }
  }

  .btn-img {
    display: flex;
    margin-bottom: 2em;
  }

  .name {
    height: 100%;
    width: 60%;
  }
}

.size-att {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 0.5em;

  button {
    background-color: white;
    border: 1px solid black;
  }
  .att-btn-hidden {
    border: 1px solid red;
  }
}
